<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Lemongrass Movie Recommender</title>

</head>
<body>
    <!-- The body is what is rendered on screen # this is a comment -->

  <h1>Hello, Welcome to my Movie Recommender!</h1>
  <a href='https://www.spiced-academy.com'  >Go to Spiced!</a>
  <br>

  <form action="/recommendations">   <!-- form tag for user input, action is for the following function-->
    <p>Please rate the following movies on a scale from 0.0 to 5.0:</p>
    Foor Rooms:
    <input type="text" name="Four Rooms (1995)" placeholder="0.0 - 5.0"><br>
    Karate Kid:
    <input type="text" name="Karate Kid, The (1984)" placeholder="0.0 - 5.0"><br>
    Invincible:
    <input type="text" name="Invincible (2001)" placeholder="0.0 - 5.0"><br>
    Ladykillers:
    <input type="text" name="Ladykillers, The (1955)" placeholder="0.0 - 5.0"><br>
    Spaced Invaders:
    <input type="text" name="Spaced Invaders (1990)" placeholder="0.0 - 5.0"><br>
    <br>
    <input type="submit">
  </form>
  <br>
  <a href='/recommendations'>Show me my recommendations!</a>

</body>

</html>
