.main-container {
  height: 100vh;
  display: flex;
  background-color: #D4EFFF;
  color: #1E3052;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-button {
  margin-top: 50px;
}

.btn-primary {
  background-color: #1E3052;
  color: #FAFFFD;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  background-color: #23609F;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recommendation-list {
  color:#660000;
}

h1 {
  color: #660000;
}
