{% extends "_base.html" %}

{% block content %}


<div class="jumbotron">
<h1>What's your taste in movies?</h1><br>
<h2>Please, rate some movies:</h2><br>
<div class="form-group">
<form action="/recommender" method="get">
  {% for i in range(choicenr) %}
  <input type="text" name="movie{{ i }}" placeholder="Enter a Movie Title">
  <input type="text" name="rating{{ i }}" placeholder="Enter a Rating (1-5)">
  <br>
  {% endfor%}
<br>

  <label for="models">Choose recommendation system:</label>
  <select name="model">
    <option value="NMF">NMF</option>"
    <option value="cosine">Similar Users</option>"
    <br>
    <br>
    <br>
    <input type="submit" name="" value="Submit" class="btn btn-primary">
  </select>
</form>
</div>
{% endblock %}
