{% extends "_base.html" %}

{% block content %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/css/styles.css">
  <title>Lemongrass Movie Recommender</title>
  <link href="static/css/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css">
  <link href="static/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css">
</head>


<body>
  <!-- <p>Please rate the movies from 0.5 stars to 5.0 stars.</p> -->

  {% if movies_html %}
  Please rate the movies from 0.5 stars to 5.0 stars.
  <div class="container">
    <form action="/recommendations">
      {% for m in movies_html %}
        <!-- <p>Please rate the movies from 0.5 stars to 5.0 stars.</p> -->
                 {{m[1]}}
          <input type="text" name="{{m[1]}}" placeholder="0.0 - 5.0" required>

            <br>
            {% endfor %}
          </div>

{% endblock %}
