{% extends "_base.html" %}

{% block content %}


<div class="jumbotron">

  <h1>Can't decide which movie you should watch?</h1><br>
  <h3>Select the number of movies you want to rate:
    <br>Hint: The more movies you rate,<br>
    the better the recommendation sysem works</h3>

  <form class="jumbotron" action="/index">
    <select name="choicenr" class=btn btn-secondary btn-lg dropdown-toggle>
      {% for choice in choices %}
      <option value="{{choice}}" SELECTED>{{choice}}</option>"
      {% endfor %}
      <br><br>
      <input type="submit" name="" value="Submit" class="btn btn-primary">
    </select>

  </form>

</div>

{% endblock %}
